@import url('https://fonts.google.com/specimen/Poppins');

* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/bg-intro-desktop.png');
    background-color: rgb(255, 121, 120);
    font-family:'Poppins', sans-serif;
}
.gallery #title{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 3rem;
    line-height: 1;
}
.gallery #subtitle{
    color: #fff;
    width: 400px;
    position: absolute;
    top: 55%;
    left: 20%;
    font-weight: lighter;
}

#banner{
    border: 1px solid rgb(93, 84, 163);
    background-color: rgb(93, 84, 163);
    width: 500px;
    height: 40px;
    color: #fff;
    top: 20%;
    left: 50%;
    position:absolute;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    border-radius: 5%;
    box-shadow:  0px 1px 4px rgb(126, 126, 126);
}

.form{
    border: 1px solid #fff;
    background-color: #fff;
    width: 500px;
    height: 420px;
    border-radius: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    top:30%;
    left: 50%;
    position: absolute;
    box-shadow:  0px 1px 5px rgb(94, 94, 94);
    font-family: 'Poppins', sans-serif;
}

.form #firstname{
    position: relative;
    width: 420px;
    height: 40px;
    align-items: center;
    margin-top: 5%;
    margin-left: 8%;
}

/*placeholder 스타일 적용 방법*/
.form #firstname::placeholder{
    font-weight: bold;
    position: relative;
    left: 5%;
}

.form #lastname{
    position: relative;
    width: 420px;
    height: 40px;
    align-items: center;
    margin-left: 8%;
}

/*placeholder 스타일 적용 방법*/
.form #lastname::placeholder{
    font-weight: bold;
    position: relative;
    left: 5%;
}

.form #email{
    position: relative;
    width: 420px;
    height: 40px;
    align-items: center;
    margin-left: 8%;
}

/*placeholder 스타일 적용 방법*/
.form #email::placeholder{
    font-weight: bold;
    position: relative;
    left: 5%;
}

.form #pwd{
    position: relative;
    width: 420px;
    height: 40px;
    align-items: center;
    margin-left: 8%;
}

/*placeholder 스타일 적용 방법*/
.form #pwd::placeholder{
    font-weight: bold;
    position: relative;
    left: 5%;
}

.form #btn{
    position: relative;
    background-color: rgb(28, 194, 28);
    color: #fff;
    font-weight: bolder;
    width: 420px;
    height: 50px;
    align-items: center;
    margin-left: 8%;
    border-radius: 3%;
}

/*placeholder 스타일 적용 방법*/
.form #btn::-ms-value{
    font-weight: bold;
    position: relative;
    left: 5%;
}

.form #sub{
    position: relative;
    font-size: 11px;
    font-weight: bold;
    color: rgb(182, 182, 182);
    padding-top: 5%;
}

.form #sub>span{
    color: red;
}

@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }
    .gallery #title{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-top:30%;
        margin-left: 3%;
        justify-content: center;
    }
    .gallery #subtitle{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-top:5%;
        margin-left: -5%;
        justify-content: center;
    }
    #banner{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-top:5%;
        margin-left: -35%;
        justify-content: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin-top:5%;
        margin-left: -35%;
        justify-content: center;
    }
}

